/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.hlavicka {
	background-color: #3498db;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	padding: 10px 20px;
	font-size: 30px;
	font-variant-caps: all-petite-caps;
}

.navbar {
	padding: 0;
	margin: 0 1px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

li {
	display: flex;
	align-items: stretch;
}

a {
	margin: 0;
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
